:root {
    --bg: #000;
    --text: #adadad;
    --glass-gradient: linear-gradient(145deg, #ffffff49, #00000000, #00000000, #ffffff17);
    --secondary-gradient: linear-gradient(90deg, #ff7b00, #ffd000);
    --bd-filter: blur(5px) saturate(150%) brightness(1.5);
    --thick-bd-filter: blur(45px) saturate(150%) brightness(1.5);
    --glass-border: 1px solid #ffffff49;
    --b-radius: 12px;
    --trans: all .3s ease;
    --pad: 0.7rem;
    --glass-shadow: 0 1px 2px rgba(0, 0, 0, 0.466);
}

@media (min-width: 1024px) {
    nav {
        display: none;
    }

    .actual-menu {
        display: flex;
        background: var(--glass-gradient);
        box-shadow: 0 0 50px rgba(0, 0, 0, 0.4);
        transition: var(--trans);
        position: fixed;
        width: 100%;
        z-index: 1000;
        backdrop-filter: var(--thick-bd-filter);
        -webkit-backdrop-filter: var(--thick-bd-filter);
        background: rgba(0, 0, 0, 0.37);
    }

    .actual-menu ul {
        display: flex;
        width: 100%;
    }

    .actual-menu ul li {
        margin: 0 auto;
    }

    .actual-menu a {
        color: #fff;
        text-decoration: none;
    }

    .actual-menu a:hover {
        color: #ff7b00;
        text-shadow: 0 0 13px #ff7b00;
    }

    .hero-section {
        padding-top: 60px;
    }

    h1 {
        font-size: 3rem;
    }
    
    h3 {
        font-size: 1.5rem;
    }

    b:hover {
        text-shadow: 0 0 13px #ff7b00;
    }

    .header {
        height: fit-content;
        display: flex;
    }

    .off-screen-menu {
        display: none;
    }

    .pfp {
        width: 40%;
        animation: none;
        position: relative;
        opacity: 100%;
        margin: 30px 0 30px auto;
        float: left;
    }

    .pfp img {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .text {
        animation: none;
        position: relative;
        opacity: 100%;
        margin: 0;
        animation: none;
        top: 0;
        left: 0;
        margin: 30px auto 30px 0;
        text-align: center;
        display: flex;
        background: var(--glass-gradient);
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .text div {
        margin: auto;
    }

    .merge {
        display: flex;
        justify-content: space-between;
    }

    .mid {
        width: 40%;
        opacity: 0.8;
        transition: var(--trans);
    }

    .mid:hover {
        opacity: 1;
    }

    .mid-img {
        gap: 40%;
    }
    
    .mid-img img {
        height: 80px;
    }

    .icons img {
        width: 50px;
    }

    .icons {
        width: 50%;
        margin-bottom: 100px;
        background: #b4b4b4;
        box-shadow: none;
    }

    .icons:hover {
        background: #fff;
        box-shadow: 0 0 50px #ffffffa4;
        width: 70%;
        transform: scale(1.1);
    }

    .contact {
        opacity: 0.8;
    }

    .contact:hover {
        opacity: 1;
    }
}