body, html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scrollbar-width: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root {
    --bg: #000;
    --text: #adadad;
    --glass-gradient: linear-gradient(145deg, #ffffff49, #00000000, #00000000, #ffffff17);
    --secondary-gradient: linear-gradient(90deg, #ff7b00, #ffd000);
    --bd-filter: blur(5px) saturate(150%) brightness(1.5);
    --glass-border: 1px solid #ffffff49;
    --b-radius: 12px;
    --trans: all .3s ease;
    --pad: 0.7rem;
    --glass-shadow: 0 1px 2px rgba(0, 0, 0, 0.466);
}

body {
    color: var(--text);
    background: var(--bg);
}

h1, h2, h3, p {
    font-weight: 300;
}

strong {
    color: #fff;
    font-weight: 600;
}

h1 {
    font-size: 2rem;
}

h3 {
    font-size: 1rem;
}

p {
    font-size: 20px;
}

b {
    background: var(--secondary-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: var(--trans);
}

#glass {
    background: var(--glass-gradient);
    backdrop-filter: var(--bd-filter);
    -webkit-backdrop-filter: var(--bd-filter);
    border-radius: var(--b-radius);
    transition: var(--trans);
    border: var(--glass-border);
}

nav {
    padding: var(--pad);
    display: flex;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
    width: fit-content;
    margin: 0;
    opacity: 0;
    border-bottom-left-radius: 50%;
    animation: 1s slide forwards;
    animation-delay: 1.3s;
}

.nav::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    background: var(--glass-gradient);
    opacity: 0.5;
    pointer-events: none;
}

.ham-menu {
    height: 35px;
    width: 35px;
    margin-left: auto;
    position: relative;
    z-index: 100;
}

.ham-menu span {
    height: 2px;
    width: 100%;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
    z-index: 1000;
    background: #fff;
}

.ham-menu span:nth-child(1) {
    top: 25%;
}

.ham-menu span:nth-child(4) {
    top: 75%;
}

.ham-menu.active span:nth-child(1) {
    opacity: 0;
}

.ham-menu.active span:nth-child(2) {
    transform: translate(-50%, -50%) rotate(45deg);
}

.ham-menu.active span:nth-child(3) {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.ham-menu.active span:nth-child(4) {
    opacity: 0;
}

a {
    list-style: none;
    color: #f00;
    transition: all .3s ease;
}

a:hover {
    text-shadow: 0 0 13px #f00;
}

.off-screen-menu {
    height: 100%;
    width: 100%;
    position: fixed;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    z-index: 10;
    background: rgba(0, 0, 0, 0.37); /* semi-transparent layer */
    backdrop-filter: blur(45px);
    -webkit-backdrop-filter: blur(45px); /* Safari support */
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-shadow: var(--glass-shadow);
    cursor: pointer;
    transition: var(--trans);
    pointer-events: none;
}

.off-screen-menu::before {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--glass-gradient);
    opacity: 0.5;
    pointer-events: none;
}

.off-screen-menu.active {
    opacity: 100%;
    pointer-events: auto;
}

.off-screen-menu ul {
    font-size: 2rem;
    list-style: none;
    text-align: center;
    padding: 0;
}

.off-screen-menu ul li {
    margin: 20% 0;
}

.off-screen-menu ul li a{
    color: white;
    text-decoration: none;
}

.actual-menu {
    display: none;
}

.hero-section {
    height: fit-content;
}

.header {
    width: 100%;
    height: 70vh;
}

.pfp {
    width: 70%;
    max-width: 452px;
    height: auto;
    border-radius: 8px;
    margin: 15px;
    z-index: 1;
    position: absolute;
    opacity: 0;
    animation: 3s zoom1 forwards;
}

.pfp img {
    width: 100%;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 0 20px #00000067;
}

.text {
    padding: 0 15px;
    width: 50%;
    max-width: 452px;
    height: auto;
    margin: 15px;
    top: 30%;
    left: 34%;
    z-index: 2;
    position: absolute;
    opacity: 0;
    animation: 3s zoom2 forwards;
    border: var(--glass-border);
}

.text h1 {
    opacity: 0;
    animation: .5s fadeIn forwards;
}

.text h3 {
    opacity: 0;
    animation: .5s fadeIn forwards;
}

#txt1 {
    animation-delay: .2s;
}

#txt2 {
    animation-delay: .8s;
}

#txt3 {
    animation-delay: 1s;
}

#txt4 {
    animation-delay: 1.2s;
}

.about {
    margin: 0 auto;
    width: 90%;
    padding: 5px;
    margin-bottom: 100px;
    background: var(--glass-gradient);
    border-radius: var(--b-radius);
    transition: all 0.3s ease;
    border: 1px solid #ffffff25;
}

.heading {
    margin-left: 30px;
    background: var(--secondary-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 10px #ff7b004d;
}

.article {
    padding: 15px 30px 0 30px;
}

.article p:nth-child(5) {
    text-align: right;
}
.article img {
    width: 100%;
    margin: auto;
    border-radius: 12px;
}

.project {
    margin: 0 auto;
    backdrop-filter: var(--bd-filter);
    -webkit-backdrop-filter: var(--bd-filter);
    border-radius: var(--b-radius);
    color: var(--text);
    font-weight: 500;
    letter-spacing: 0.5px;
    text-shadow: var(--glass-shadow);
    transition: var(--trans);
    margin-bottom: 100px;
}

.skills {
    background: var(--glass-gradient);
    border-radius: var(--b-radius);
    padding: 8px;
    margin: 0 auto;
    margin-bottom: 100px;
    border: var(--glass-border);
    width: 90%;
}

.skills-img {
    width: 100%;
    border-radius: var(--b-radius);
    padding: 3px 1px;
    margin: 15px auto;
    transition: var(--trans);
    gap: 25%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.skills-img img {
    background: var(--glass-gradient);
    width: auto;
    height: 50px;
    display: inline;
    margin-bottom: 40px;
    border: var(--glass-border);
    padding: var(--pad);
    border-radius: var(--b-radius);
}

.work {
    text-align: center;
    width: 95%;
    margin: 0 auto;
    border-radius: var(--b-radius);
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-shadow: var(--glass-shadow);
    transition: var(--trans);
}

.work h1 {
    font-size: 1.8rem;
}

.work-img {
    width: 100%;
    top: 0;
    display: flex;
}

.work-img img {
    width: 100%;
    position: relative;
    border-radius: var(--pad);
    margin: 5px;
    border: 1px solid #fff;
}

.work-txt {
    padding: 30px;
}

.icons {
    background: #fff;
    width: 90%;
    margin: 0 auto;
    border-radius: var(--pad);
    gap: 4px;
    display: flex;
    padding: 10px 0;
    box-shadow: 0 0 40px #b4b4b4;
    transition: var(--trans);
}

.icons a {
    margin: 0 auto;
    animation: 5s bounce infinite;
}

.icons a:nth-child(2) {
    animation-delay: .1s;
}

.icons a:nth-child(3) {
    animation-delay: .2s;
}

.icons a:nth-child(4) {
    animation-delay: .3s;
}

.icons a:nth-child(5) {
    animation-delay: .4s;
}

.contact {
    padding-bottom: var(--pad);
    background: var(--glass-gradient);
    transition: var(--trans);
    text-align: center;
}

.icons img {
    width: 35px;
    height: auto;
    margin: 0 auto;
}

footer {
    text-align: center;
}

footer p {
    font-size: 16px;
}